{% extends 'catalog/base.html' %}

{% block content %}
<h1>Список постов</h1>
<a href="{% url 'blog:post_create' %}" class="btn btn-success">Создать новый пост</a>
<ul class="list-group mt-3">
    {% for post in posts %}
        <li class="list-group-item">
            <a href="{% url 'blog:post_detail' post.pk %}">{{ post.name }}</a>
            - <a href="{% url 'blog:post_edit' post.pk %}" class="btn btn-warning btn-sm">Редактировать</a>
            - <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-danger btn-sm">Удалить</a>
        </li>
    {% empty %}
        <li>Нет опубликованных статей.</li>
    {% endfor %}
</ul>
{% endblock %}