{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<h2 class="mt-4 mb-4 text-center">Главная</h2>
<h6 class="mt-4 mb-4 text-center">Вы находитесь на сайте по продаже товаров</h6>
 <a href="{% url 'catalog:products_create' %}" class="btn btn-primary mt-3">Создать товар</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if selected_category %}
                {{ selected_category.name }}
            {% else %}
                Все категории
            {% endif %}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?category_id={% if not selected_category_id %}{% else %}{{ selected_category_id }}{% endif %}">Все категории</a></li>
            {% for category in categories %}
                <li><a class="dropdown-item" href="?category_id={{ category.id }}{% if selected_category_id == category.id %}active{% endif %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
              <img src="{{ product.image | media_filter }}">
              <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                  <p class="card-text">Цена: {{ product.purchase_price }}</p>
                  <a href="{% url 'catalog:products_detail' product.id %}" class="btn btn-primary ">Купить</a>
                  {% if perms.catalog.can_unpublish_product or user == product.owner %}
                  <a href="{% url 'catalog:products_delete' product.id %}" class="btn btn-primary">Удалить</a>
                  {% endif %}
              </div>
               {% if user == product.owner %}
                   <a href="{% url 'catalog:products_update' product.id %}" class="btn btn-primary">Редактировать</a>
               {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}