{% extends 'catalog/base.html' %}
{% block content %}
<h2 class="mt-4 mb-4 text-center">Главная</h2>
<h6 class="mt-4 mb-4 text-center">Вы находитесь на сайте по продаже товаров</h6>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
              <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">Описание: {{ product.description|truncatechars:100 }}</p>
                  <p class="card-text">Цена: {{ product.purchase_price }}</p>
                  <a href="{% url 'catalog:products_detail' product.id %}" class="btn btn-primary">Купить</a>
              </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}