<div class="col-md-2 sidebar">
    <h4 class="menu-title">Меню</h4>
    <nav class="navbar navbar-default">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="/.html">Категории</a></li>
            <li class="nav-item"><a class="nav-link" href="/catalog/templates/catalog/index.html">Заказы</a></li>
            <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
        </ul>
    </nav>
    <hr style="border-top: 1px solid #ccc; margin: 660px 0;">
    <div class="btn-group dropup position-absolute bottom-0 start-0">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Пользователь
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Профиль</a></li>
                <li><a class="dropdown-item" href="#">Выйти</a></li>
            </ul>
    </div>
</div>