{% extends "catalog/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-center">{{ product.name }}</h1>
  <div class="row mt-5">
    <div class="card shadow-sm">
      <img src="{{ product.image | media_filter }}">
    </div>
    <div class="col-md-6">
      <p>Описание: {{ product.description }}</p>
      <p>Цена: {{ product.purchase_price }}</p>
      <p>Категория: {{ product.category.name }}</p>
      <p>Дата: {{ product.created_at|date:"d.m.Y"}}</p>
      <a href="{% url 'catalog:index' %}" class="btn btn-primary mt-3">Назад на главную</a>
    </div>
  </div>
</div>
{% endblock %}